# API 配置
VITE_API_BASE_URL=https://cloud1-5glojms9a83c3457.service.tcloudbase.com/HTTP

# CloudBase 环境 ID
VITE_CLOUDBASE_ENV=cloud1-5glojms9a83c3457

# 应用标题
VITE_APP_TITLE=展瑞HR管理系统

# 是否开启调试模式
VITE_DEBUG=false
